@charset "utf-8";
@use '../styles/base';

.blog {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "share blog-post .";

    .social-media {
        grid-area: share;
        position: fixed;
        left: 0.5rem;
        margin-top: 5rem;
    }

    .blog-post {
        grid-area: blog-post;

        .post-header {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 9fr;
            grid-template-rows: auto;
            grid-template-areas:
                "avatar text";
            font-family: base.$primary-font-family;

            * {
                padding: 0px;
                margin: 0px;
            }

            .avatar {
                grid-area: avatar;
                display: flex;
                align-items: center;

                figure {
                    img {
                        border-radius: 50%;
                    }
                }
            }

            .text {
                grid-area: text;
                align-self: center;

                .title {
                    font-size: x-large;
                    padding-bottom: .2rem;
                }

                .meta {
                    font-weight: lighter;
                    font-size: small;

                    .author {
                        font-size: medium;
                    }

                    time {
                        font-style: italic;
                    }
                }
            }
        }

        .post-body {
            font-size: large;
            font-family: base.$secondary-font-family;
        }
    }
}

@media (max-width: 1024px) {
    .blog {
        grid-template-columns: 1fr 9fr;

        .blog-post {
            .post-header {
                grid-template-columns: auto;
                grid-template-areas:
                    "text";

                .avatar {
                    display: none;
                }

                .text {
                    .title {
                        font-size: large;
                    }

                    .meta {
                        font-size: smaller;

                        .author {
                            font-size: small;
                        }
                    }
                }
            }
        }
    }
}