@charset "utf-8";
@use '../styles/base';

.blog {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "share blog-post newsletter";

    .share {
        grid-area: share;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    .blog-post {
        grid-area: blog-post;

        .heading {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 10fr;
            grid-template-areas:
            "avatar title"
            "avatar meta";

            * {
                padding: 0px;
                margin: 0px;
            }

            .title {
                grid-area: title;
                align-self: end;
            }

            .meta {
                grid-area: meta;
                font-weight: normal;
                font-size: small;
            }
        }
    }

    .newsletter {
        grid-area: newsletter;
    }
}
