@charset "utf-8";

$dark-charcoal: #333333;
$whitesmoke: #F5F5F5;
$black: #000000;
$mustard: #FFDE59;
$pastel-orange: #FFB347;
$pastel-red: #FF6961;
$pastel-yellow: #FDFD96;
$open-sans: 'Open Sans', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// Set your brand colors and fonts
$brand-logo-color: $mustard;
$brand-name-color: $whitesmoke;
$brand-name-font: 'Architects Daughter', cursive;

$primary-font-family: $roboto-slab;
$secondary-font-family: $roboto;

.debug * {
    border: 1px solid blue;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

body {
    margin: 0px;
    background-color: $whitesmoke;
    font-family: $secondary-font-family;
    font-weight: normal;
    font-size: medium;
    color: $dark-charcoal;

    ul {
        list-style: none;
    
        li > a {
            text-decoration: none;
        }
    }
}

body * {    
    padding: 0px;
}
