@charset "utf-8";

$dark-charcoal: #333333;
$whitesmoke: #F5F5F5;

$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

$primary-font-family: $roboto-slab;
$secondary-font-family: $roboto;

$brand-name-font: 'Quicksand', sans-serif;

.debug * {
    border: 1px solid blue;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

body {
    margin: 0px;
    background-color: $whitesmoke;
    font-family: $secondary-font-family;
    font-weight: normal;
    font-size: medium;
    color: $dark-charcoal;

    ul {
        list-style: none;

        li>a {
            text-decoration: none;
        }
    }
}

body * {
    padding: 0px;
}