@charset "utf-8";

body {
    margin: 0px;
    font-weight: normal;
    font-size: medium;

    ul {
        list-style: none;

        li>a {
            text-decoration: none;
        }
    }
}

body * {
    padding: 0px;
}

.debug * {
    border: 1px solid red;
}

.box {
    padding: 2rem 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}