@charset "utf-8";
@use '../styles/base';

.home {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "blog-feature blog-feature blog-feature"
    ". blog-list newsletter";

    .blog-feature {
        grid-area: blog-feature;
        background-color: lightgray;

        .feature-item {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 2fr 2fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            ". feature-image feature-text ."
            ". feature-image feature-text .";

            .feature-image {
                grid-area: feature-image;
                display: flex;
            }

            .feature-text {
                 grid-area: feature-text;
                 display: flex;
                 flex-direction: column;
                 flex-wrap: nowrap;

                .feature-header {
                    font-family: base.$primary-font-family;

                    .title {
                        font-size: x-large;
                        color: base.$dark-charcoal;
                        margin-bottom: 0px;
                    }

                    .meta {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        font-weight: normal;

                        .author {
                            font-size: medium;
                            color: base.$dark-charcoal;
                        }

                        .date {
                            font-size: medium;
                            color: gray;
                        }

                        .tags {
                            font-size: small;
                            color: gray;
                        }
                    }
                }

                .feature-content {
                    flex: 1 1 auto;
                    font-family: base.$secondary-font-family;
                    font-size: larger;
                    color: base.$dark-charcoal;
                }
            }
        }
    }
    .blog-list {
        grid-area: blog-list;

        li {
            border-bottom: 0.1rem solid lightgray;
        }

        li:last-child {
            border-bottom: none;
        }

        .blog-item {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "item-header item-main item-footer";

            .item-header {
                grid-area: item-header;
                overflow: hidden;
                font-family: base.$primary-font-family;

                .title {
                    color: base.$dark-charcoal;
                    font-size: x-large;
                }

                .meta {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    font-weight: normal;

                    .author {
                        color: base.$dark-charcoal;
                        font-size: medium;
                    }

                    .date {
                        color: gray;
                        font-size: medium;
                    }

                    .tags {
                        color: gray;
                        font-size: small;
                    }
                }
            }

            .item-main {
                grid-area: item-main;
                overflow: hidden;
                color: base.$dark-charcoal;
                font-family: base.$secondary-font-family;
                font-size: larger;
            }

            .item-footer {
                grid-area: item-footer;

                > * {
                    margin-right: 0px;
                }
            }
        }
    }

    .newsletter {
        grid-area: newsletter;
    }
}
