@charset "utf-8";
@use '../styles/base';

.home {
    width: 70%;
    margin: auto;

    .blog-list {
        li {
            border-bottom: 0.1rem solid lightgray;
        }

        li:last-child {
            border-bottom: none;
        }

        .blog-item {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:
                "item-header item-main item-footer";

            .item-header {
                grid-area: item-header;
                overflow: hidden;
                font-family: base.$primary-font-family;

                .title {
                    color: base.$dark-charcoal;
                    font-size: x-large;
                }

                .meta {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    font-weight: normal;

                    .author {
                        color: base.$dark-charcoal;
                        font-size: medium;
                    }

                    .date {
                        color: gray;
                        font-size: medium;
                    }

                    .tags {
                        color: gray;
                        font-size: small;
                    }
                }
            }

            .item-main {
                grid-area: item-main;
                overflow: hidden;
                color: base.$dark-charcoal;
                font-family: base.$secondary-font-family;
                font-size: larger;
            }

            .item-footer {
                grid-area: item-footer;

                figure {
                    margin-right: 0px;

                    .image {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .home {
        .blog-list {
            .blog-item {
                margin: 2rem 0rem;
                gap: 0rem;
                grid-template-areas:
                    "item-header"
                    "item-main"
                    "item-footer";

                .item-header {

                    .title,
                    .meta {
                        text-align: center;
                        padding: 0rem;
                        margin: 0rem;
                    }
                }

                .item-main {
                    text-align: center;
                }

                .item-footer {
                    display: flex;

                    figure {
                        margin: auto;
                    }
                }
            }
        }
    }
}