@charset "utf-8";
@use '../styles/base';

.debug * {
    border: 1px solid blue;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
    font-family: base.$primary-font-family;
    background-color: base.$background-color;
}

body * {    
    padding: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media (max-width: 768px)  {
    header {
        grid-template-columns: auto;
    }
}

header, footer {
    background-color: base.$primary-color;
    color: base.$primary-font-color;

    nav > ul {
        list-style: none;
        display: flex;
        flex-direction: row;

        li > a {
            text-decoration: none;
            color: base.$primary-font-color;
        }

        li > a:hover {
            color: base.$secondary-font-color;
        }
    }
}

footer > nav > ul {
    justify-content: space-evenly;

    li {
        margin: 1rem;
    }
}

header > nav > ul > li {
    padding-left: 2rem;
    padding-right: 2rem;
}
