@charset "utf-8";
@use '../styles/base';

* {
    // border: 1px solid blue;
}

body {
    font-family: base.$primary-font-family;
}

header {
    grid-area: header;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    align-items: center;
    justify-items: center;
}

@media (max-width: 768px)  {
    header {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
    }
}

header > nav > ul,
footer > nav > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

footer > nav > ul> li {
    margin: 1rem;
}

header > nav > ul > li > a,
footer > nav > ul > li > a {
    text-decoration: none;
}
