@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

* {
    border: 1px solid blue;
}

header {
    grid-area: header;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    align-items: center;
    justify-items: center;
}

header > nav > ul,
footer > nav > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

footer > nav > ul> li {
    margin: 1rem;
}

header > nav > ul > li > a,
footer > nav > ul > li > a {
    text-decoration: none;
}
