@charset "utf-8";
@use '../styles/base';

.tag {
    background-color: hsla(0, 0%, 0%, .15);
    border-radius: 0.2rem;
    max-width: fit-content;
    font-size: small;
    color: base.$dark-charcoal;
}